@font-face {
	font-family: HelveticaNeue;
	src:url("./assets/fonts/helvetica/HelveticaNeueLTStd-Md.otf");
}

@font-face {
	font-family: HelveticaNeueLight;
	src:url("./assets/fonts/helvetica/HelveticaNeueLTStd-Lt.otf");
}
body{
	background-color: #BBEEC1;
}

#tileHolder {
	position: absolute;
	top: 200px;
	left: 200px;
	right: 200px;
}

.tileContainer {
	z-index: 1;
	position: relative;
	margin-right: 20px;
	margin-bottom: 20px;
	float: left;
	width: 400px;
	height: 300px;
	/*transform: scale(1, 1);*/
	transition: 300ms all cubic-bezier(0, 1.52, 1, 1.01);
	cursor: zoom-in;
	box-shadow: 1px 10px 20px #888888;

}

.focusTile {
	z-index: 2;
	/*transform: scale(2, 2);*/
	cursor: zoom-out;
}

.unFocusTile:hover {
	transform: scale(1.05, 1.05);
}


.tileContainer img {
	height: 100%;
	width: 100%;
	}

.titleBar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	background: #222;
	opacity: .7;
}

.titleBar .title {
    font-size: 30px;
    color: #FFF;
    position: absolute;
    left: 20px;
    top: 20px;
	font-family: HelveticaNeue;
	text-transform: capitalize;
}

.titleBar .desc {
    font-size: 20px;
    color: #FFF;
    position: absolute;
    left: 20px;
    top: 60px;
	font-family: HelveticaNeueLight;
}